:root {
  --plshldColor: #dcd9d9;

  --aColor: #f0f0f0;
  --aBackground: #56836d;
  --aBackgroundHOVER: #566b60;
  --aShadowHOVER: #60ffcd;

  --bottonShadow: #ffffff;
  --bottonColor: #ffffff;
}
@font-face{
  font-family: Pixel_fonts;
  src: url(font/pixel_fonts/3d_thirteen_pixel_fonts_regular.ttf);
}
body {
  background-color: #8fb5a2;
  font-family: system-ui;
  color: azure;
  margin: 0;
}

button {
  padding: 7px;
  border: 0;
  border-radius: 6px;
  background-color: #637c6f;
  color: #f0f0f0;
  margin: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input {
  margin: 5px;
  padding: 7px;
  border: 0;
  border-radius: 6px;
  color: #f0f0f0;
  background-color: #637c6f;
}

input::placeholder {
  color: var(--plshldColor);
}

h1 {
  color: #272f2b;
  margin-left: 15px;
}

.a {
  margin-top: 23px;
}

a {
  padding: 7px;
  border: 0;
  border-radius: 6px;
  background-color: var(--aBackground);
  color: var(--aColor);
  margin: 5px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-left: 15px;
}

.itemSS {
  margin-left: 15px;
  font-size: 25px;
}

.siteCutout {
  background-color: antiquewhite;
  border: #2d2d2d solid 5px;
  border-left: 0;
  border-right: 0;
  padding: 20px;
  margin: 15px 0;
}

table,
td,
th {
  /* задаем границу для всех элементов */
  border: 3px solid #000000;
  border-radius: 4px;
  color: #ffffff;
}

td,
th {
  /* делаем отступ в ячейках, выставляем выравнивание текста */
  padding: 10px 20px;
  text-align: center;
  background-color: #8d8cb9;
}

.div {
  display: flex;
  justify-content: flex-end;
  margin: 38px;
}

.on {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #8d8d8d66;
  backdrop-filter: blur(4px);
  display: inline-block;
  opacity: 0;
  animation: showBlockStart 0.3s linear forwards;
}

@keyframes showBlockStart {
  0% {
    filter: blur(30px);
    z-index: -100;
  }

  100% {
    opacity: 1;
    filter: blur(0px);
    z-index: 100;
  }
}

.off {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  animation: showBlockEnd 0.3s linear forwards;
}

@keyframes showBlockEnd {
  0% {
    filter: blur(0px);
    z-index: 100;
  }

  100% {
    filter: blur(30px);
    opacity: 0;
    z-index: -100;
  }
}

.foregroundTranslucent {
  .div {
    display: flex;
    justify-content: space-between;
    margin: 38px;
  }
}

.SVG-exit {
  width: 75px;
  height: 75px;
  background: url("/svg/close_7vixc7bctmok.svg") center/cover;
  transition: 300ms;
  border-radius: 50px;
  z-index: 21;
}

.checkGravity {
  display: none;
}

.checkGravity+label {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  transition: 300ms;
  content: "";
  display: inline-block;
  background: url("svg/gravity_gahaaw3qvutl.svg") center / contain no-repeat;
}

.checkGravity+label:hover {
  transition: 300ms;
  transform: rotate(-180deg);
}

.checkGravity:checked+label {
  background: url("svg/gravity_gahaaw3qvutlGreen.svg") center / contain no-repeat;
}

.foregroundTranslucent .div+div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#field div {
  width: 800px;
  height: 531px;
  background: url("/foto/Fussballfeld.gif") center/cover;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 44px -15px 10px #000000b8;
}

#field div div {
  transition: all 1.3s linear 0s;
  width: 51px;
  height: 51px;
  background: url("/svg/football_ball_kn46d7yol7i1.svg") center/cover;
  border-radius: 50px;
  box-shadow: 0px -15px 0px #00000000;
  position: absolute;
}

.myclass {
  transition: 0.5s;
}

.foregroundSemi-transparentLists {
  #lists {
    display: flex;
    flex-direction: column;
    align-items: center;

    #torsion {
      height: 392px;
      width: 560px;
      overflow-y: auto;
      overflow-x: hidden;

      div {
        color: white;
        background-color: #672cd242;
        backdrop-filter: blur(4px);
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: 44px -15px 10px #000000b8;
        width: 450px;
        height: 68px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          margin: 25px;
        }
      }

      .closeList {
        margin: 25px;
        background: url("/svg/close_2c9x3mhf0vv6.svg") center/cover;
        width: 35px;
        height: 35px;
        border-radius: 50px;
      }

      .closeList:hover {
        background: url("svg/NOT\ close_2c9x3mhf0vv6.svg") center/cover;
      }
    }
  }
}

.left {
  margin-left: 15px;
}

#leftX {
  padding-left: 15px;
}

#torsion::-webkit-scrollbar {
  width: 10px;
  background-color: #6767ff00;
  border: solid #662cd294 3px;
  border-left: 0;
  border-right: 0;
  border-radius: 25px;
}

#torsion::-webkit-scrollbar-track {
  background-color: #75757500;
}

#torsion::-webkit-scrollbar-button {
  background-color: #6f0101;
  display: none;
}

#torsion::-webkit-scrollbar-thumb {
  background-color: #672cd269;
  border-radius: 25px;
}

#torsion::-webkit-scrollbar-thumb:hover {
  background-color: #874bf696;
}

#torsion::-webkit-scrollbar-thumb:active {
  background-color: #874bf6;
}

#comment {
  background-color: crimson;
  position: absolute;
  display: none;
  left: 7px;
  padding: 7px;
  border-radius: 6px;
  border: solid #000000 3px;
  color: #ffffff;
  box-shadow: -1px -15px 10px #000000b8;
}

.blockCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .leftJS {
    margin-left: 15px;
  }
}

// .foregroundTranslucentBlock21 .divCards {
  // display: flex;
  // justify-content: center;
// }

#frameDifficulty {
  display: flex;
  justify-content: center;
  // margin-top: 50px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 0px;
    background-color: #141c9a;
    border: #000000 solid 4px;
    border-radius: 10px;
    transition: 1s;
    top: -114%;
    position: absolute;
    cursor: default;
  }
}
// .beautifulClosingCards{
  // transition: 1s;
  // filter: blur(10px);
// }
#description {
  // margin-top: 270px;
  display: flex;
  justify-content: center;

  div {
    background-color: #971382;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 0px;
    border: #000000 solid 4px;
    border-radius: 10px;
    transition: 1s;
    padding: 0px;
    top: 167%;
    position: absolute;
    cursor: default;
  }
}

.divCards {
  // display: none;
  display: flex;
  justify-content: center;
  div {
    position: absolute;
    width: 99px;
    height: 131px;
    cursor: pointer;
    // left: calc(50% - 49px);
    top: calc(48% - 65px);
    transition: 0.2s;
  }
}

@keyframes mapAnimations1 {
  0% {
    filter: blur(10px);
    filter: saturate(0);
    left: calc(45% - 49px);
  }

  100% {
    filter: blur(0px);
    filter: saturate(1);
    left: calc(25% - 49px);
  }
}

@keyframes mapAnimations2 {
  0% {
    filter: blur(10px);
    filter: saturate(0);
    left: calc(70% - 49px);
  }

  100% {
    filter: blur(0px);
    filter: saturate(1);
    left: calc(50% - 49px);
  }
}

@keyframes mapAnimations3 {
  0% {
    filter: blur(10px);
    filter: saturate(0);
    left: calc(95% - 49px);
  }

  100% {
    filter: blur(0px);
    filter: saturate(1);
    left: calc(75% - 49px);
  }
}
@keyframes mapAnimationsChoice_1s {
  0% {
    filter: blur(0px);
    filter: opacity(1);
  }
  
  100% {
    filter: blur(20px);
    filter: opacity(0);
  }
}
@keyframes mapAnimationsChoice_2s {
  0% {
    filter: blur(0px);
    filter: opacity(1) saturate(0);
  }
  
  100% {
    filter: blur(30px);
    filter: opacity(0) saturate(0);
  }
}

@keyframes cardDisappearance {
  0% {
    filter: blur(0px);
    filter: opacity(1);
  }
  
  100% {
    filter: blur(20px);
    filter: opacity(0);
  }
}
.divCards2{
  display: flex;
  justify-content: center;
  position: relative;
  top:100%;
  filter: blur(10px);
  #closingCards{
    position: absolute;
    width: 450px;
    height: 100%;
    z-index: -1;
  }
  #gameCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 450px;
    div div{
      position: relative;
      width: 99px;
      height: 131px;
      //  cursor: pointer;
      transition: 0.2s;
      transform: rotateY(180deg);
    }
  }
}
#victorySign{
  height: 401px;
  width: 201px;
  top: calc(50% - 200px);
  left: calc(50% - 100px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -21;
  filter: opacity(0);
  div:nth-child(1){
    height: 150px;
    width: 150px;
    background: url(svg/crown_dgp5gr0a0no3.svg)center/cover;
  }
  span{
    font-family: Pixel_fonts;
    font-size: 66px;
    color: #000000;
    margin-bottom: 73px;
  }
  div:nth-child(3){
    height: 80px;
    width: 80px;
    background: url(svg/redo_wc3fa5h1g13c.svg)center/cover;
  }
}
@keyframes endGame1 {
  0% {
    z-index: -20;
    filter: opacity(0);
  }
  
  100% {
    z-index: 20;
    filter: opacity(1);
  }
}
@keyframes endGame2 {
  0% {
    z-index: -21;
    filter: opacity(0);
  }
  
  100% {
    z-index: 21;
    filter: opacity(1);
  }
}
#victoryTransparent{
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #c0a6d5c9;
  z-index: -20;
  filter: opacity(0);
}
@media screen and (min-width: 800px) {
  .divCards .levelH:hover {
    filter: brightness(60%);
  }
  
  button:hover {
    box-shadow: 0px 0px 15px 3px var(--bottonShadow);
    background-color: #566b60;
    color: var(--bottonColor);
  }

  a:hover {
    box-shadow: 0px 0px 10px 2px var(--aShadowHOVER);
    background-color: var(--aBackgroundHOVER);
    color: var(--aShadowHOVER);
  }

  .SVG-exit:hover {
    transform: rotate(-90deg);
    transition: 300ms;
  }
}

.break {
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .foregroundTranslucent .div {
    .checkGravity+label {
      display: none;
    }

    justify-content: flex-end;
  }

  .space {
    margin-top: 35px;
  }

  td,
  th {
    padding: 5px 10px;
  }

  #field div {
    height: 56cqi;
    width: 84cqi;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    div {
      height: 5.5cqi;
      width: 5.5cqi;
    }
  }

  .SVG-exit {
    height: 68px;
    width: 68px;
  }

  #torsion::-webkit-scrollbar {
    display: none;
  }

  #torsion {
    height: 405px !important;
  }
}

#block21DIV {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: solid antiquewhite;

  button {
    position: relative;
  }
}

@media screen and (max-width: 730px) {
  .SVG-exit {
    height: 10cqi;
    width: 10cqi;
  }

  #field div {
    height: 66cqi;
    width: 99cqi;

    div {
      height: 7cqi;
      width: 7cqi;
    }
  }
}

@media screen and (max-width: 600px) {
  .SVG-exit {
    height: 12cqi;
    width: 12cqi;
  }

  .myclass {
    width: 82cqi !important;
  }

  #torsion {
    width: 96cqi !important;
  }

  #bottomP {
    padding: 16px !important;
  }
}

@media screen and (max-width: 555px) {
  #field div div {
    height: 9cqi;
    width: 9cqi;
  }
}

@media screen and (max-width: 470px) {
  .SVG-exit {
    height: 15cqi;
    width: 15cqi;
  }
}

@media screen and (max-width: 430px) {

  td,
  th {
    padding: 2px 3px;
  }

  .siteCutout {
    padding: 10px;
  }

  #h1 {
    font-size: 26px;
  }

  .itemSS {
    font-size: 21px;
  }
}

@media screen and (max-width: 366px) {
  .SVG-exit {
    height: 17cqi;
    width: 17cqi;
  }

  #field div div {
    height: 11cqi;
    width: 11cqi;
  }
}

@media screen and (max-width: 299px) {
  .myclass {
    width: 89cqi !important;
  }
}