:root {
  --plshldColor: #dcd9d9;
  
  --aColor: #f0f0f0;
  --aBackground: #56836d;
  --aBackgroundHOVER: #566b60;
  --aShadowHOVER: #60ffcd;
  
  --bottonShadow: #ffffff;
  --bottonColor: #ffffff;
}

body{
  background-color: #8fb5a2;
  font-family: system-ui;
  color:azure;
  margin: 0;
}
button {
  padding: 7px;
  border: 0;
  border-radius:6px;
  background-color: #637c6f;
  color:#f0f0f0;
  margin: 5px;
}
button:hover {
  box-shadow: 0px 0px 15px 3px var(--bottonShadow);
  background-color: #566b60;
  color: var(--bottonColor);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
input{
  margin: 5px;
  padding: 7px;
  border: 0;
  border-radius:6px;
  color:#f0f0f0;
  background-color: #637c6f;
}
input::placeholder {
  color: var(--plshldColor);
}
h1{
  color:#272f2b;
  margin-left: 15px;
}
#item{
  margin-left: 15px;
}
#item1{
  margin-left: 15px;
}
.a{
  margin-top: 23px;
}
a{
  padding: 7px;
  border: 0;
  border-radius:6px;
  background-color: var(--aBackground);
  color:var(--aColor);
  margin: 5px;
  text-decoration : none;
  margin-left: 15px;
}
a:hover {
  box-shadow: 0px 0px 10px 2px var(--aShadowHOVER);
  background-color: var(--aBackgroundHOVER);
  color:var(--aShadowHOVER);
}
.itemSS{
  margin-left: 15px;
  font-size: 25px;
}
.siteCutout{
  background-color: antiquewhite;
  border: #2d2d2d solid 5px;
  border-left: 0;
  border-right: 0;
  padding: 20px;
}
table, td, th {
  /* задаем границу для всех элементов */
  border: 3px solid #000000;
  border-radius: 4px;
  color:#ffffff
}

td, th {
  /* делаем отступ в ячейках, выставляем выравнивание текста */
  padding: 10px 20px;
  text-align: center;
  background-color: #8d8cb9;
}
.on{
  display: inline-block;
}
.off{
  display: none;
}
.foregroundTranslucent{
  position: fixed;
  top:0%;
  left:0%;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #8d8d8d66;
  backdrop-filter: blur(4px);
  .div{
    display: flex;
    justify-content: flex-end;
    margin: 38px;
  }
}
.SVG-exit{
  width: 75px;
  height: 75px;
  background:url("/svg/close_7vixc7bctmok.svg")center/cover;
  transition: 300ms;
  border-radius: 50px;
}
.SVG-exit:hover{
  transform: rotate(-90deg);
  transition: 300ms;
}
.div + div{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#field div{
  width: 800px;
  height: 531px;
  background: url("/foto/Fussballfeld.gif")center/cover;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 44px -15px 10px #000000b8;
}
#field div div{
  animation-timing-function: ease;
  transition: 1.3s;
  width: 51px;
  height: 51px;
  background: url("/svg/football_ball_kn46d7yol7i1.svg")center/cover;
  border-radius: 50px;
  box-shadow: 0px -15px 0px #00000000;
  position: absolute;
}
.myclass {
  transition: 0.5s;
}
.foregroundSemi-transparentLists{
  position: fixed;
  top:0%;
  left:0%;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #8d8d8d66;
  backdrop-filter: blur(4px);
  .div{
    display: flex;
    justify-content: flex-end;
    margin: 38px;
  }
  #lists{
    display: flex;
    flex-direction: column;
    align-items: center;
    #torsion{
      height:392px;
      width:560px;
      overflow-y:auto;
      overflow-x:hidden;
      div{
        color: white;
        background-color: #672cd242;
        backdrop-filter: blur(4px);
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: 44px -15px 10px #000000b8;
        width: 450px;
        height: 68px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
          margin: 25px;
        }
        
      }
      .closeList{
        margin: 25px;
        background-color: #8a8a8a;
        background: url("/svg/close_zblslsymbph1.svg")center/cover;
        width: 30px;
        height: 30px;
        border-radius: 50px;
      }
      .closeList:hover{
        background: url("/svg/NOT close_zblslsymbph1.svg")center/cover;
      }
    }
  }
}



